{% extends "base.html" %}

{% block head %}
<meta property="twitter:card" content="player" />
<meta property="twitter:url" content="{{ siteurl }}{{ sitepath }}{{ filename }}" />
<meta property="twitter:image" content="https://put.icu/static/images/404.jpg" />
<meta property="twitter:player:height" content="400">
<meta property="twitter:player:width" content="400">
<meta property="twitter:player" content="{{ siteurl }}{{ sitepath }}{{ filename }}" />
<meta property="og:audio:url" content="{{ siteurl }}{{ sitepath }}{{ selifpath }}{{ filename }}" />
<meta property="og:audio:secure_url" content="{{ siteurl }}{{ sitepath }}{{ selifpath }}{{ filename }}" />
{% endblock %}

{% block main %}
<audio class="display-audio" controls preload='auto'>
    <source src='{{ sitepath }}{{ selifpath }}{{ filename }}'>
    <a href='{{ sitepath }}{{ selifpath }}{{ filename }}'>Download it instead</a>
</audio>
{% endblock %}